.aboutMeContainer{
height: 100vh;
background: black;
}

.aboutMeImage{
    /* height: 100vh;
    width: 99vw;
    opacity: 0.5; */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: absolute;
    top: 01;
    left: 0;
}

.myLife{
    color: white;
    opacity: 2;
    position: absolute; 
    top:100vh;
    font-family: "Courier New", Courier, monospace;
    color:#00FFFF;
    /* color:#FFFF00; */
    /* left: 0; */ 
}