.aboutMeContainer{
height: 100vh;
background: black;
}

.aboutMeImage{
    height: 100vh;
    width: 99vw;
    opacity: 0.5;
}

.myLife{
    color: white;
    opacity: 2;
    position: absolute; 
    top:100vh;
    font-family: "Courier New", Courier, monospace;
    color:#00FFFF;
    /* color:#FFFF00; */
    /* left: 0; */ 
}