.typeWriter {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    overflow:hidden;
    border-right: .15em solid blue;
    white-space:no-wrap;
    margin: 0 auto;
    letter-spacing:.15;
    animation:
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
    }
    
    @keyframes typing{
      from {width:0}
      to{width:100%}
    }
    
    @keyframes blink-caret{
      from, to {border-color: transparent}
      50% {border-color:blue;}
    }

    .Canvas{
        position: absolute;
        top:0;
        left:0;
        width:100vw;
        height: 100vh;
        background: #3F4045;
    }
